# dependencies
/node_modules/
/apps/frontend-repo/node_modules/
/apps/backend-repo/node_modules/

# next.js
/.next/
/.cache/
/.turbo/
apps/frontend-repo/.next/
apps/frontend-repo/.cache/
apps/frontend-repo/.turbo/
apps/backend-repo/.turbo/

# ts build
/dist
apps/backend-repo/dist/

# misc
.DS_Store
apps/frontend-repo/.DS_Store
apps/backend-repo/.DS_Store

# debug
npm-debug.log*
apps/frontend-repo/npm-debug.log*
apps/backend-repo/npm-debug.log*

# env files
/.env
/.env.*
apps/frontend-repo/.env
apps/frontend-repo/.env.*
apps/backend-repo/.env
apps/backend-repo/.env.*

# config
next-env.d.ts
package-lock.json
package.json
turbo.json

# firebase emulator
# firebase emulator
public
dataconnect
dataconnect-generated
functions
monorepo
extensions
firestore.indexes.json
firestore.rules
remoteconfig.template.json
storage.rules
apphosting.emulator.yaml
apphosting.yaml
database.rules.json
firebase.json
.firebaserc