# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules/
/apps/frontend-repo/node_modules/
/apps/backend-repo/node_modules/
/packages/node_modules/

# next.js
/.next/
/.cache/
/.turbo/
apps/frontend-repo/.next/
apps/frontend-repo/.cache/
apps/frontend-repo/.turbo/
apps/backend-repo/.turbo/
packages/shared/.turbo/

# ts build
/dist
/apps/backend-repo/dist/
/packages/shared/dist/

# misc
.DS_Store
/apps/frontend-repo/.DS_Store
/apps/backend-repo/.DS_Store
/packages/shared/.DS_Store

# debug
npm-debug.log*
firebase-debug.log
firestore-debug.log
/apps/frontend-repo/logs
/apps/backend-repo/logs
/packages/shared/logs

# env files
/.env
/.env.*
/apps/frontend-repo/.env
/apps/frontend-repo/.env.*
/apps/backend-repo/.env
/apps/backend-repo/.env.*

# typescript
next-env.d.ts

# firebase emulator
public
dataconnect
dataconnect-generated
functions
monorepo
extensions
firestore.indexes.json
firestore.rules
remoteconfig.template.json
storage.rules
apphosting.emulator.yaml
apphosting.yaml
database.rules.json
firebase.json
.firebaserc